<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../static/index.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title>DSC180B: ResRecovery</title>
    </head>
    <body>
        <header id="title" class="container">
            <h1>
                <a href="https://stephdoan.github.io/ResRecovery/">ResRecovery</a>
            </h1>
        </header>

        <!-- MAKE PREDICTIONS WITH MODEL -->
        <div id="models" class="container">
            <div class="baseline">
                <h2>Predictions (Baseline)</h2>
                <p>
                    Baseline model is able to predict:
                </p>
                <ul>
                    <li>240p</li>
                    <li>480p</li>
                    <li>1080p</li>
                </ul>
                <p>Upload a CSV file to make a prediction.</p>
                <form action="/baseline" method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" class=""/>
                    </br>
                    </br>
                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
                <br>
                <br>
                {{ prediction_text_baseline }}
            </div>

            <div class="extended">
                <h2>Predictions (Extended)</h2>
                <p>
                    Extended model is able to predict:
                </p>
                <ul>
                    <li>Low (144p & 240p)</li>
                    <li>Medium (360p & 480p)</li>
                    <li>High (720p & 1080p</li>
                </ul>
                <p>Upload a CSV file to make a prediction.</p>
                <form action="/extended" method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" class=""/>
                    </br>
                    </br>
                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
                <br>
                <br>
                {{ prediction_text_extended }}
            </div>
        </div>
    </body>
</html>